.other-content-p{
    position:relative;top:0;margin-bottom: 0.51rem;width:100%;flex:1;background-color:#fff;
    .slider-p{
        width:100%;height:3.09rem;
        a{
            display: block;padding:0.06rem 0.384rem 0 0.384rem;
            img{
                width:100%;height:100%;display: block;
            }
        }
    }
}
.prd-tit-p{
    padding:0.06rem 0.24rem;width:100%;height:1.17rem;
    .name-p{
        color:#4c4c4c;font-size: 12px;margin-right:0.2025rem;
    }
    .price-p{
        color:#c8161e;font-size: 12px;margin-right:0.0135rem;
    }
    .pricep-p{
        color:#c8161e;font-size: 17px;display: block;
    }
    .reprice-p{
        display: block;width:100%;height:0.26rem;color:#c8161e;
        span{
            color:#c8161e;font-size: 13px;margin-right:0.2025rem;
        }
    }
     .discount-p{
            color:#c8161e;font-size: 13px;
        }
}
    .size-box-p{
        background:#f5f5f5;margin:0.108rem 0.24rem;
        padding:0.096rem;cursor: pointer;height:0.3919rem;
        .chkbox-p{
            float:left;height:0.1619rem;width:0.1619rem;
            background:url('http://i.10.m.vancl.com/Content/img/size_icon.jpg') repeat center center;
            background-size: contain;margin-right:0.096rem;
        }
        .size-info{
             float:left;font-size: 12px;color:#4c4c4c;
        }
        .sword-r{
            float:right;width:0.08391rem;height:0.1688rem;background:url('http://i10.m.vancl.com/Content/H5/img/swordr_icon.jpg') no-repeat center center;
            background-size: contain;
        }
    }
    .mhr{
        width:100%;height:0.01rem;margin:0 0.24rem;
    }
    .bb{
        display: block;border-bottom:1px solid #ccc;
        
    }
    .size-color-p{
        padding:0 0.24rem;color:#4d4d4d;
        .tit{
            font-size: 12px;font-weight: 400;
        }
        .color,.size{
            padding-top:0.12rem;padding-bottom:0.084rem;
            border-bottom:1px solid #ccc;margin-bottom:0.108rem;
          .color-size-p{
              float:left;border:1px solid #b3b3b3;
              border-radius: .1em;margin-right:0.06rem;
              padding:0.06rem 0.096rem;
          }
        }
       .changecount{
           padding-top:0.12rem;padding-bottom:0.084rem;
           span{
               float:left;width:0.26rem;height:0.26rem;
               line-height:0.26rem;border-radius: .1em;
               text-align: center;border:1px solid #b3b3b3;
           }
            .minus{
                background:#f5f5f5 url('http://i10.m.vancl.com/Content/H5/img/minus.jpg') no-repeat center center;
                background-size: contain;border:1px solid #f5f5f5;
            }
            .num{
               border:1px solid #666;
               color:#4d4d4d;margin:0 0.09rem;
            }
            .plus{
               background:url('http://i10.m.vancl.com/Content/H5/img/plus.jpg') no-repeat center center;
               background-size: contain;border:1px solid #4d4d4d;
            }

       }
    }
    .prd-des{width:100%;
        ul{
            display: block;height:0.2rem;margin:0.18rem 0;
            li{
                width:33%;text-align: center;
                font-size: 12px;float:left;
                a.active{
                   color:#c8161e;
                }
                a{
                  color:#4c4c4c;
                }
            }
        }
    }
.bb666{
    margin-bottom:1px solid #666;height:1px;
}
.prd-des-cont{
    padding-top:1px;width:100%;
    .tagmao0{

        img{width:100%;height: 100%;}

    }
}
.nav{
    position:fixed;
    bottom:0;
    width:100%;height:0.36rem;border-top:1px solid #999;
    overflow: hidden;z-index: 999;background:#fff;
    a{
        position:relative;width:50%;height:100%;float: left;color:#999;
        text-align: center;display: inline-block;
        .nav-shopcart{
                position:absolute;
                left:50%;top:50%;width:0.36rem;height:0.28rem;
                background:url('http://i7.m.vancl.com/oms/2016_12_14_17_59_33_7590_60x800.jpg') no-repeat;
                display: inline-block;
                background-size: 0.3rem 2.4rem;
       }
         .goods-num{
                display: inline-block;
                width: 0.11rem;
                height: 0.11rem;
                background: red;
                position: absolute;
                right: 0.6rem;
                top: 0.1rem;
                line-height: 0.11rem;
                border-radius: 50%;
                font-size: 8px;
         }   
     
}
}
.addToCart{
    width: 100%;
    display: inline-block;
    height: 100%;
   text-align: center;
  
   line-height:0.3rem;
    color: #fff;
    background: none;
    background-color: #b81c22;
    font-size: 0.12rem;
}