.openVanclAppDiv{width:100%;display: flex;height:0.468rem;
        background-color: rgba(35,35,35,0.8);align-items:center;justify-content:space-around;
      #closeVanclApp{
          height:0.168rem;width:0.168rem;background:url('https://m.vancl.com/Content/H5/img/white-close-icon.png') no-repeat top center;
          background-size: contain;
      }
        img{
            width:0.3239rem;height:0.3239rem;display: inline-block;
         
        }
          span{
              display:inline-block;color: #fff;width:45%;font-size: 11.25px;
          }
        #openVanclApp{
            width:1.02rem;height:0.31rem;background:#b81c22;text-align: center;
           color:#fff;line-height:0.31rem;font-size: 11.25px;
        }
}
.topTitle-p{
    width:100%;height:0.48rem;line-height:0.48rem;position:relative;background:#b81c22;
    .topBack-p{
        position:absolute;
        top:50%;left:0.24rem;border-left: 2px solid #fff;;border-bottom:2px solid #fff;
        transform:translateY(-50%) rotate(45deg);width:0.2rem;height:0.2rem;display: inline-block;
    }
    .curTitle-p{
        display: inline-block;font-size: 17px;color:#fff;position:absolute;left:41%;
    }
}
.good-banner-p{
    width:100%;height:2.45rem;margin-top:2px;
    .banner-p{ width:100%;height:1.816rem;display:inline-block;
        img{
            width:100%;height:100%;display: inline-block;
        }
    }
    .closes-p{
        width:100%;height:0.4805rem;display: inline-block;margin-top:8px;text-align:center;

        img{
           width:100%;height:100%;display: inline-block;
        }
    }
}
.topic-good-p{
  flex:1;color:#4c4c4c;font-size:17px;box-sizing: border-box;
    align-items: center;
    >div:nth-child(2n+1){
         margin-left:-1px;float:left;width:50%;
    }
    .topic-p{
        padding-top:2px;text-align: center; width:50%;float:right;
        a{display: inline-block;
            img{
                width:100%;height:100%;
            }
        }
    }
}
.clearfix:after{
    content:'';height:0;overflow: hidden;visibility: hidden;clear: both;display: block;

}
// 抢购商品
.goodlistmain-p{padding-bottom:1.3rem;
    dl:nth-child(2n+1){
        margin-left:10px;float:left;width:50%;box-sizing:border-box;
       
        }
    
    >dl:nth-child(2n){
        margin-left:-10px;width:46%;float:right;box-sizing:border-box;padding:0 0.12rem 0 0.06rem;
       dt a{display: block;margin-left:-15px;width:1.695rem;height:1.695rem;}
       dt div{right:15px;}
       dd{margin-left:-15px;}
    }
}
 dt{
            width:1.695rem;height:1.7rem;position:relative;
            a{
                display: block;
                img{width:100%;height:100%;display: block;}
              
            }
             div{
                    background-color:#B81B22;position:absolute;width:0.36rem;height:0.36rem;line-height:0.25rem;
                    text-align: center;border-radius: 50%;right:0;top:1em;padding:0.06rem;text-align: center;
                    span{
                        font-size: 17px;font-weight: bold;display: block;color:#fff;text-align: center;
                    }

                } 
            
        }
        dd{
            a{
                display: block;width:1.69rem;display:block;font-size:12px;
                p{
                    text-align: center;color:#4c4c4c;height:0.138rem;line-height:0.138rem;
                    text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin-top:0.072rem;
                    
                }
                    span{
                        display: block;color:#B81B22;text-align: center;line-height: 0.1rem;margin: 0.084rem 0;
                    }

            }
            
            }