 footer{
     position:fixed;left: 0;bottom:0;height:0.61rem;width:100%;overflow:hidden; background:#fff;z-index:999;  border-top: 1px solid #999;
     .main-footer{
         display: flex;
         justify-content:center;
         align-items:center;
         flex-direction:row;
         width:100%;
         height:100%;
         a{
              position: relative;
                width: 20%;
                height: 100%;
                float: left;
                color: #999;
                text-align: center;
                display: flex;
                align-items: center;
                flex-direction: column;
                height:0.51rem;
               justify-content: center;
               .yo-ico{
                    font-size:23px;
                }
                span{font-size: 14px;}
         }
     }
 }
    .goods-num{
            font-size: 0.1rem;
            position: absolute;
            top: 0;
           left:0.4rem;
           width:0.15rem;
            height:0.15rem;
            display: inline-block;
            line-height: 0.15rem;
            color: #fff;
            border-radius:50%;
            background: none;
            background-color: #b81c22;
            cursor: default;
            text-align: center;
    }